body{
  background-color: lightblue;
}
h1{
  color: darkblue;
  text-align: center;
}
nav {
  text-align: center;
  margin: 20px;
}
nav a {
  margin: 15px;
  text-decoration: none;
  font-size: 18px;
}
